/*********************************************************************************\
 *   Global                                                                      *
\*********************************************************************************/

::-webkit-scrollbar {
    width: 0px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    background: url("../img/Bgc_home_petite.png") no-repeat;
    background-size: cover;
/*    background: rgb(4,73,153);
    background: -moz-linear-gradient(-45deg, rgba(4,73,153,1) 0%, rgba(134,99,204,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(4,73,153,1) 0%,rgba(134,99,204,1) 100%);
    background: linear-gradient(135deg, rgba(4,73,153,1) 0%,rgba(134,99,204,1) 100%); */
    font-size: 15px;
    height: calc(100vh - 25px);
}

a {
    text-decoration: none;
    color: #000;
}

input::placeholder {
    color: #fff;
}

input:placeholder-shown {
    color: #fff;
}


/*********************************************************************************\
 *   Container                                                                   *
\*********************************************************************************/


.ac-home-container {
    width: 100%;
    padding: 50px;
    height: calc(100vh - 130px - 80px);
    overflow-y: auto;
}


/*********************************************************************************\
 *   Home                                                                        *
\*********************************************************************************/


/*************\
 *   Header  *
\*************/


.ac-home-header {
    width: 100%;
    padding: 40px;
    box-shadow: 0px -2px 20px 0px #000;
}

.ac-home-header-title {
    font-size: 30px;
    color: #FFF;
}


/*************\
 *   Main    *
\*************/


.ac-home {
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 25px;
    /*box-shadow: 4px 4px 10px 0px #000;*/
    margin: 40px auto;
}

.ac-home-signin {
    padding: 70px 50px;
}

.ac-home-signup {
    padding: 20px 50px;
}

.ac-home-sign-item {
    padding: 8px 10px;
    box-shadow: 2px 3px 20px -4px #000;
    border-radius: 5px;
    margin: 7px 0px;
}

.ac-home-sign-item-connec {
    width: fit-content;
    margin: 7px 0px 7px auto;
}

.ac-home-sign-item-inscrip {
    width: fit-content;
    margin: 7px auto 7px 0px;
}

.ac-home-sign-item-h2 {
    color: #fff;
    line-height: 30px;
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
}
.ac-home-sign-item-input {
    color: #fff;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: 1px solid transparent;
}

.ac-home-sign-item-input:focus {
    outline: none;
    border-bottom: 1px solid #fff;
}

.ac-home-sign-allBoutton {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    margin-top: 20px;
}

.ac-home-sign-item-boutton-left {
    width: 100%;
}

.ac-home-sign-item-boutton-right {
    width: 100%;
}

.ac-home-sign-item-boutton-log {
    border-color: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 0 20px;
    margin-bottom: 10px;
    line-height: 40px;
    height: 40px;
    width: 100%;
    min-width: 170px;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 4px 4px 20px -4px #000;


    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, transform .25s ease-in-out, box-shadow .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out, transform .25s ease-in-out, box-shadow .25s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, transform .25s ease-in-out, box-shadow .25s ease-in-out;

}

.ac-home-sign-item-boutton-log:hover {
    transform: scale(0.95);
    background-color: #fff;
    color: #000;
    box-shadow: 6px 6px 8px 0px #000;



}

.ac-home-sign-item-boutton-sign {
    border-color: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    padding: 0 20px;
    margin-top: 10px;
    line-height: 40px;
    height: 40px;
    width: 100%;
    min-width: 170px;
    color: #fff;
    cursor: pointer;
    display: block;
    background-color: #16EAA8;
    box-shadow: 4px 4px 20px -4px #000;


    -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out, transform .25s ease-in-out, box-shadow .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out, transform .25s ease-in-out, box-shadow .25s ease-in-out;
    transition: background-color .25s ease-in-out, color .25s ease-in-out, transform .25s ease-in-out, box-shadow .25s ease-in-out;

}

.ac-home-sign-item-boutton-sign:hover {
    transform: scale(0.95);
    background-color: #76EAA8;
    box-shadow: 6px 6px 8px 0px #000;

}

.ac-home-signin-text {
    color: #fff;
}

.ac-home-signin-continue {
    width: 90px;
    padding: 6px 12px;
    margin-left: auto;
    display: block;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    box-shadow: 4px 4px 10px -2px black;
}


/*************\
 *   Footer  *
\*************/


.ac-home-footer {
    padding: 40px;
    width: 100%;
    background-color: transparent;
    box-shadow: 0px 2px 20px 0px #000;
    z-index: -1;
}

.ac-home-footer-title {
    width: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
    color: #fff;
}


/*********************************************************************************\
 *   Main                                                                        *
\*********************************************************************************/


/*************\
 *   Footer  *
\*************/

.ac-fontGris {
    position: fixed;
    top: 70px;
    left: 0;
    bottom: -70px;
    right: 0;
    background-color: rgba(0,0,0,0.38);
    z-index: 1;
    pointer-events: none;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    opacity: 0;
}


/*************\
\*************/

.ac-main {

}

.ac-main-header {
    width: 100%;
    height: 70px;
    position: relative;
    background-color: #fcf8e3;
    box-shadow: inset 0px 0px 6px -2px #000000;
    z-index: 0;
}

.ac-main-header-create:hover {
    background-color: grey;
}

.ac-main-header-logout {
    float: right;
    line-height: 50px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent;
}

.ac-main-header-logout:hover {
    background-color: grey;
}

.ac-main-header-menue-sandwish {
    display: block;
    float: left;
    line-height: 50px;
    width: 50px;
    padding: 10px 10px;
    text-align: center;
    font-size: 15px;
}

.ac-main-header-menue-sandwish:active {
    background-color: grey;
}

.ac-main-calendrier {
    width: 100%;
    height: calc(100vh - 70px);
    float: right;
    background-color: #fff;
    overflow-y: auto;
    box-shadow: inset 0px 0px 0px 1px #fcf8e3;
}

.ac-main-calendrier-create {
    display: block;
    height: 50px;
    width: 50px;
    line-height: 30px;
    padding-bottom: 5px;
    background-color: #3b9f97;
    box-shadow: 2px 2px 8px 0 #000;
    bottom: 20px;
    right: 20px;
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    border: none;
    outline: 0;
    cursor: pointer;
    color: white;
    font-size: 30px;
}

.ac-main-nav {
    display: none;
}
.ac-main-nav-invit {
    display: block;
    height: 50%;
    background-color: #dbc762;
    padding: 20px;
    padding-right: 17px;
    box-shadow: inset -4px 5px 9px -5px;
}
.ac-main-nav-showEv{
    display: block;
    height: 30%;
    background-color: #fcf8e3;
    box-shadow: inset 0px 0px 6px 0px;
}

.ac-main-nav-accDec{
    display: block;
    height: 20%;
    background-color: #dbc762;
    padding: 20px;
    box-shadow: inset -4px -5px 9px -5px;
}

::-webkit-scrollbar {
    display: none;
}

/*********************************************************************************\
 *   Creer Event                                                                 *
\*********************************************************************************/

.ac-createEvent {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 5;
    top: 0;
}

.ac-createEvent-header {
    width: 100%;
    height: 80px;
    word-wrap: break-word;
    padding: 0px;
    background-color: #3b9f97;
    color: white;
}

.ac-createEvent-header-close {
    color: white;
    float: left;
    cursor: pointer;
    padding: 15px 0px 0px 15px;
    font: normal normal normal 20px/1 FontAwesome;
}

.ac-createEvent-header-close:hover,
.ac-createEvent-header-close:focus {
    color: #000;
    text-decoration: none;
}


.ac-createEvent-header-save {
    color: white;
    background-color: #3b9f97;
    outline: none;
    font-size: 14px;
    border: none;
    float: right;
    line-height: 20px;
    padding: 10px 15px;
    text-transform: uppercase;
}



.ac-createEvent-header-save:hover{
    background-color: #238c83;
    cursor: pointer;
}
.ac-createEvent-header-save:active{
    transform: scale(0.95);
}

.ac-createEvent-header-title {
    width: 100%;
    font-size: 16px;
    color: white;
    background-color: #3b9f97;
    border: none;
    outline: none;
    height: 40px;
    padding: 0px 10px;
}

.ac-createEvent-body {
    width: 100%;
    height: calc(100vh - 80px);
    padding: 5px 0px;
    background-color: #fff;
    color: #000;
    overflow-y: auto;
}

.ac-createEvent-body-creneaux {
    border-bottom: 1px solid #dfe6e9;
    margin-top: 10px;
}

.ac-createEvent-body-creneaux-first {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.ac-createEvent-body-creneaux-second {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.ac-createEvent-body-creneaux-crenTxt{
    display: inline-block;
    width: 20%;
    border: none;
    outline: none;
    padding: 10px 10px;
    font: normal normal normal 30px/1 FontAwesome;
}

.ac-createEvent-body-creneaux-dateEv{
    font-size: 17px;
    line-height: 98px;
}

.ac-createEvent-body-creneaux-hoursEv{
    width: 23%;
    border: none;
    outline: none;
    font-size: 17px;
    line-height: 98px;
    padding-left: 10px;
}

.ac-createEvent-body-description {

}

.ac-createEvent-body-description-input {
    width: 100%;
    font-size: 16px;
    color: white;
    background-color: #3b9f97;
    border: none;
    outline: none;
    height: 40px;
    padding: 0px 10px;
}

.ac-createEvent-body-description-input::placeholder{
    color: white;

}










.ac-createEvent-footer {
    width: 100%;
    height: 15%;
    word-wrap: break-word;
    padding: 10px;
    background-color: #3b9f97;
    color: white;
}

.ac-main-createEvent {
    width: 100%;
    height: calc(100vh - 150px);
    overflow-y: auto;
    padding: 20px 10px 10px;
    box-shadow: inset 0px 0px 0px 1px #fcf8e3;
}


/*********************************************************************************\
 *   Mini Calendrier                                                             *
\*********************************************************************************/


.ac-main-nav-miniCalendrier {
    display: block;
    height: 250px;
    background-color: #ff6655;
    padding: 5px;
}


/*********************************************************************************\
 *   Calendrier                                                                  *
\*********************************************************************************/

.fc-scroller.fc-day-grid-container {
    height: calc(100vh - 200px) !important;
    overflow-y: auto;
}

.fc-toolbar {
    padding: 0px;
}

.fc-toolbar h2 {
    text-align: center;
    line-height: 30px;
}

.fc-view {
    z-index: 0;
}

.fc-view-container {
}

.fc-button-group {
    width: 100%;
}

.fc-right {
    width: 50%;
}

.fc-left {
    width: 50%;
}

.fc-center {
    text-transform: uppercase;
    height: 30px;
    margin: 0;
    padding: 0px;
    float: left;
    position: absolute;
    top: 20px;
    left: 90px;
}

.fc button {
    width: 50%;
}

.fc-button-group button {
    border-radius: 0px 0px 0px 0px!important;
}

button.fc-today-button.fc-button.fc-state-default.fc-corner-right {
    width: 100%;
}

button.fc-today-button.fc-button.fc-state-default.fc-corner-right.fc-state-disabled {
    width: 100%;
}

.fc .fc-button-group > * {
    margin: 0 0 0 0px;
}

.fc-scroller.fc-time-grid-container {
    height: calc(100vh - 230px)!important;
}

th.fc-day-header.fc-widget-header.fc-thu.fc-today span {
    line-height: 30px;
    font-size: 18px;
    text-transform: uppercase;
}

.fc-view.fc-month-view.fc-basic-view table tbody tr td div div .fc-row.fc-week.fc-widget-content {
    height: calc((100vh - 160px) / 6)!important;
}

/*********************************************************************************\
 *   Footer                                                                      *
\*********************************************************************************/


/*************\
 *   Main    *
\*************/


.ac-main-footer {
    background-color: #fcf8e3;
    margin-top: auto;
    height: 40px;
    width: 100%;
    padding: 10px;
    box-shadow: inset -4px -5px 9px -3px;
}

.ac-main-footer-title {
    text-align: center;
    font-size: 14px;
    color: #000;
    width: 100%;
    line-height: 20px;
}


/*********************************************************************************\
 *   Responsive                                                                  *
\*********************************************************************************/


.responsive-nav-bar {
    width: 300px;
    height: calc(100vh - 70px);
    float: left;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow-y: scroll;
    box-shadow: inset 0px 1px 0px 0px #fcf8e3;
    position: absolute;
    z-index: 2;
}

.responsive-calendrier {

}


/*********************************************************************************\
 *   Media screen                                                                *
\*********************************************************************************/


@media only screen and (min-width: 600px) {
    .ac-home {
        width: 600px;
    }

    .ac-header-home {
        border-bottom: none;
    }

    .ac-main-footer {
        border-top: none;
    }
}

@media only screen and (min-width: 1150px) {
    .ac-main-calendrier {
        width: calc(100% - 250px);
    }
    .ac-main-nav {
        width: 250px;
        height: calc(100vh - 70px);
        float: left;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        overflow-y: scroll;
        box-shadow: inset 0px 1px 0px 0px #fcf8e3;
    }

    .ac-main-header-menue-sandwish {
        display: none;
    }

    .ac-createEvent {
        display: none!important;
    }
}



/*********************************************************************************\
 *   Arnaud                                                               *
\*********************************************************************************/

.container {
    cursor: pointer;
    font-size: 22px;
    display: flex;
    padding: 20px 0px 0px;
    word-break: break-all;
    width: 100%;
}


#checkbox-container{
}

/*cacher checkbox par default */
.container input {
    opacity: 0;
    cursor: pointer;
}

/* custom checkbox */
.checkmark {
    height: 25px;
    width: 25px;
    border: 3px solid #3b9f97;
    border-radius: 8px;
    cursor: pointer;

}

.container:hover input ~ .checkmark {
    background-color: #efefef;
}

/* checked, then background-color */
.container input:checked ~ .checkmark {
    background-color: #3b9f97;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    width: 5px;
    height: 10px;
    margin-left: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}